---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Variable">
	<a href="variable/taylor">Taylor</a>
	<a href="variable/biseccion">Biseccion</a>
	<a href="variable/punto-fijo">Punto Fijo</a>
</Layout>
