---
import Layout from "../../../layouts/Layout.astro";
import NewtonView from "./newton.svelte";
---

<Layout title="Newton">
	<main>
		<h1>Newton</h1>
		<NewtonView client:load />
	</main>
</Layout>
