---
import Layout from "../../../layouts/Layout.astro";
import RaicesMultiplesView from "./raices-multiples.svelte";
---

<Layout title="Raices Multiples">
	<main>
		<h1>raices multiples</h1>
		<RaicesMultiplesView client:load />
	</main>
</Layout>
