---
import Layout from "../../../layouts/Layout.astro";
import ReglaFalsaView from "./regla-falsa.svelte";
---

<Layout title="Regla Falsa">
	<main>
		<h1>Regla Falsa</h1>
		<ReglaFalsaView client:load />
	</main>
</Layout>
