---
import Layout from "../../../layouts/Layout.astro";
import SecanteView from "./secante.svelte";
---

<Layout title="Secante">
	<main>
		<h1>Secante</h1>
		<SecanteView client:load />
	</main>
</Layout>
