---
import Layout from "../../../layouts/Layout.astro";
import TaylorView from "./taylor.svelte";
---

<Layout title="Taylor">
	<main>
		<h1>Taylor</h1>
		<TaylorView client:load />
	</main>
</Layout>
