---
import Layout from "../layouts/Layout.astro";
import ExtraView from './extra.svelte';


---

<Layout title="Extra">
	<main>
		<ExtraView client:load></ExtraView>
	</main>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
</style>