---
import Layout from "../../../layouts/Layout.astro";
import BiseccionView from "./biseccion.svelte";
---

<Layout title="Biseccion">
	<main>
		<h1>Biseccion</h1>
		<BiseccionView client:load />
	</main>
</Layout>
