---
import Layout from "../../../layouts/Layout.astro";
import DoolittleView from "./doolittle.svelte";
---

<Layout title="Doolittle">
	<main>
		<h1>Doolittle</h1>
		<DoolittleView client:load />
	</main>
</Layout>
