---
import Layout from "../../../layouts/Layout.astro";
import GaussView from "./gauss.svelte";
---

<Layout title="Gaussiana">
	<main>
		<h1>Gaussiana</h1>
		<GaussianaView client:load />
	</main>
</Layout>
