---
import Layout from "../../../layouts/Layout.astro";
import GaussView from "./gauss_pivoteo.svelte";
---

<Layout title="Gaussiana Pivoteo">
	<main>
		<h1>Gaussiana Pivoteo</h1>
		<GaussView client:load />
	</main>
</Layout>
