---
import Layout from "../../../layouts/Layout.astro";
import JacobiView from "./jacobi.svelte";
---

<Layout title="jacobi">
	<main>
		<h1>Jacobi</h1>
		<JacobiView client:load />
	</main>
</Layout>
